page-setup {

    .toolbar-background {
        background: white !important;
    } 

    .header::after {
        display: none !important; 
    }

    ion-datetime {
        position: absolute;
        width: 100%;
        text-align: center;
        margin-left: -20px;
    } 

    .label i {
        color: $primary;
    }

    .controls {
        .button {
            width: 200px;
            padding: 20px 0;
            margin: 0 auto;
        }
    }
}
