page-login { 

    .top {
        background-color: white;
        .brand {
            img {
                width: 200px;
                top: 0;
            }
        }
    }

    .login-form {
        position: absolute;
        width: 100%;
        top: 30%;
        .item {
            .item-inner {
                margin-left: 0;
            }
        }
        ion-icon.email {
            font-size: 1.2em;
            padding-top: 3px;
        }
        ion-icon.password {
            font-size: 1.4em;
            padding-top: 3px;
        }
        ion-icon {
            color: $primary;
        }

        .item-input {
            border: 1px solid $light-grey;
        }
    }
    
    .social-media-login {
        position: absolute;
        width: 100%;
        bottom: 0; 
        span {
            color: $light-grey;
        }
        [col-6] {
            padding: 0 4px !important;
        }
        .button-inner {
            span {
                position: absolute;
                left: 50px;
            }
        }
        .mail ion-icon{
            color: $mail;
        }
        .facebook ion-icon{
            color: $facebook;
            font-size: 1.6em;
        }
        .twitter ion-icon{
            color: $twitter;
        }
        .google ion-icon{
            color: $google;
        }
    }
    
    .validation {
        color: $light-grey;
    }
    
    [icon-start] ion-icon {
        position: absolute;
        left: 0;
        padding: 12px;
        background-color: white;
    }
   
    ion-item.item-input {
        margin: 10px 0;
    }
    ion-label.label {
        width: 120px;
    }
    .termsAndConditions {
        color: $light-grey;
        text-align: center;
        font-size: 10px;
    }

    .bottom {
        position: relative;
        top: 18%;
        height: 50%;
        z-index: -99;
    }

    .social-media-login {
        background-color: $primary;
        height: 120px;
        .button {
            background-color: white;
        }
    }
    ion-footer {
        background-color: $primary;
        .footer-buttons {
            text-align: center;
        }
    }
}
