<ion-content padding class="transparent-header">
  <ion-header>
    <ion-navbar> </ion-navbar>
  </ion-header>

  <div *ngIf="user" id="profile-bg" [ngStyle]="{'background-image': 'url(' + img +')'}"></div>

  <div *ngIf="user" id="content">
    <div id="profile-info" padding>
      <img id="profile-image" [src]="img">
      <h2 class="nickname">{{user.nickname}} 
        <ion-badge class="age" item-end>{{getAge(user.dob)}}</ion-badge>
      </h2>
      <p class="address">{{user.location.address}}</p>
      <rating [float]="true" [(ngModel)]="user.rating" [readonly]="true" ></rating>
    </div>
    <hr/>
  </div>
 
 

</ion-content>
