<ion-content padding class="transparent-header">
  <ion-header>
    <ion-navbar> </ion-navbar>
  </ion-header>

  <div *ngIf="user" id="profile-bg" [ngStyle]="{'background-image': 'url(' + img +')'}"></div>

  <div *ngIf="user" id="content">
    <div id="profile-info" padding>
      <img id="profile-image" [src]="img">
      <h2 class="nickname">{{user.nickname}} 
        <ion-badge class="age" item-end>{{getAge(user.dob)}}</ion-badge>
      </h2>
      <p class="address"> <i class="fa fa-map-marker"></i>{{getDistance(user.location.geo)}} km away</p>
      <rating [float]="true" [(ngModel)]="user.rating" [readonly]="true"></rating>
      <div class="tags">
        <ion-badge primary>{{user.gender}}</ion-badge>
        <ion-badge primary>{{user.race}}</ion-badge>
        <ion-badge primary>{{user.bodyType}}</ion-badge>
      </div>
    </div>
    <ion-row class="info">
      <ion-col col-6>
        <p>Views</p>
        <h2>120</h2>
      </ion-col>
      <ion-col col-6>
        <p>Requests</p>
        <h2>120</h2>
      </ion-col>
    </ion-row>
 
    <ion-row class="images">
      <ion-col col-4>
          <img src="assets/imgs/users/user{{user.id}}.jpg">
      </ion-col>
      <ion-col col-4>
          <img src="assets/imgs/users/user{{user.id}}.jpg">
      </ion-col>
      <ion-col col-4>
          <img src="assets/imgs/users/user{{user.id}}.jpg">
      </ion-col>
      <ion-col col-4>
          <img src="assets/imgs/users/user{{user.id}}.jpg">
      </ion-col>
      <ion-col col-4>
          <img src="assets/imgs/users/user{{user.id}}.jpg">
      </ion-col>
    </ion-row>
  </div>

</ion-content>
