page-user-details {
  .scroll-content {
      margin-top: 0 !important;
  }

  // .back-button {
  //   background: white;
  //   color: $primary;
  // }
  .toolbar-background {
      background-color: transparent !important;
  }

  .bar-button-default-md,.bar-button-default-ios, .toolbar-title-md, .toolbar-title-ios{
    color: $light-grey;
  }

  .header-md::after {
      background-image: none !important;
  }
  .header-ios .toolbar-ios:last-child .toolbar-background-ios {
      border-width: 0;
  }

  .swiper-pagination-bullet-active {
      background: white;
  }

  .nickname {
      margin-bottom: 2px;
  }
  .address {
      margin: 2px;
      i {
        padding-right: 4px;
        color: $primary;
      }
  }

  .star-icon {
      font-size: 1.2em !important;
  }

  .star-icon::before {
      color: $primary !important;
      font-size: 1em !important;
  } 

  .tags {
      display: block;
      margin: 10px 0
  }

  .tags .badge, .age {
    background-color: $dark-grey !important;
  }

  .info {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    h2, p {
        margin: 0;
        padding: 0
    }
    h2 {
        font-size: 1em;
        font-weight: bold;
    }
    p {
        font-size: 0.9em;
    }
  }
  
  .images {
    margin-top: 10px;
    .col {
        padding: 0;
    }
    img {
        border: 2px solid white;
        border-radius: 4px;
    }
  }

  ion-content {
    background: linear-gradient(0deg, #eeeef1 0%, white 80%, white 100%);
  }

  // Cover image
  #profile-bg {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: -16px;
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
  }
  // Profile content
  #content {
    position: relative;
    margin-top: 150px;
    padding-top: 200px;
    text-align: center;
  }
  #profile-image {
    display: block;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-top: 30px;
    border: 2px solid white;
    box-shadow: 0px 11px 20px -3px rgba(142, 136, 146, 0.75);
  }
  #profile-info {
    position: absolute;
    top: -95px;
    width: 100%;
    z-index: 2;
    text-align: center;
  }
  #profile-name {
    color: #444;
    font-size: 26px;
  }
  .profile-description {
    font-size: 15px;
    color: #888;
  }
  .follow-button {
    text-transform: none;
    border-radius: 3px !important;
    ion-icon {
      font-weight: bold;
      padding-left: 5px;
      font-size: 2.5rem;
    }
  }


  /* Popup menu */
  .popup-menu {
    ion-badge{
      right: calc(50% - 30px) !important;
      top: -5px;
      position: absolute;
      right: 4%;
      padding: 1px 6px;
      height: auto;
      font-size: 10px;
      line-height: 16px;
    }

    .popup-menu ion-icon {
      text-align: center;
      color: white;
      font-size: 1.4em;
    }
    .popup-menu-overlay {
      position: fixed;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 100;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      background-image: -webkit-linear-gradient(rgba(68, 68, 68, 0.5) 0%, rgba(68, 68, 68, 0.25) 100%);
      background-image: linear-gradient(rgba(68, 68, 68, 0.5) 0%, rgba(68, 68, 68, 0.25) 100%);
    }
    .popup-menu-overlay.in {
      opacity: 1;
      visibility: visible;
    }
    .popup-menu-toggle {
      position: fixed;
      width: 40px;
      height: 40px;
      bottom: 20px;
      left: 50%;
      margin-left: -20px;
      background-color: $primary;
      border-radius: 50%;
      z-index: 101;
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
    }
    .popup-menu-toggle:before {
      position: absolute;
      content: '\f10a';
      font-family: "Ionicons";
      width: 40px;
      height: 40px;
      top: 0px;
      left: 0px;
      line-height: 40px;
      text-align: center;
      font-size: 28px;
      color: white;
      opacity: 1;
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      -webkit-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    .popup-menu-toggle.out {
      opacity: 0;
      visibility: hidden;
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
    }
    .popup-menu-toggle.out:before {
      -webkit-transition: all 0.15s ease-in-out;
      transition: all 0.15s ease-in-out;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    .popup-menu-panel {
      position: fixed;
      width: 300px;
      height: 80px;
      border-radius: 4px;
      bottom: 20px;
      left: 50%;
      margin-left: -150px;
      padding: 0px 5px;
      background-color: $primary;
      z-index: 102;
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
      -webkit-transition-delay: 0.15s;
      transition-delay: 0.15s;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transform: scale(0);
      transform: scale(0);
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .popup-menu-panel .popup-menu-item {
      margin: auto;
      -webkit-box-flex: 1 0 30%;
      -webkit-flex: 1 0 30%;
      -moz-box-flex: 1 0 30%;
      -moz-flex: 1 0 30%;
      -ms-flex: 1 0 30%;
      flex: 1 0 30%;
      display: -webkit-box;
      display: -moz-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-transform: scale(0);
      transform: scale(0);
      opacity: 0;
      -webkit-transition: all 0.25s ease-in-out;
      transition: all 0.25s ease-in-out;
    }
    .popup-menu-panel .popup-menu-item i {
      margin: auto 0px 5px 0px;
      padding: 0px;
      font-size: 1.4em;
      line-height: 30px;
      text-align: center;
      color: $light-grey;
    }
    .popup-menu-panel .popup-menu-item span {
      padding: 0px;
      margin: 0px 0px auto 0px;
      color: white;
      text-align: center;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 11px;
    }
    .popup-menu-panel .popup-menu-item:active i {
      color: rgb(221,65,53);
      -webkit-transition: all 0.15s;
      transition: all 0.15s;
    }
    .popup-menu-panel .popup-menu-item:active span {
      color: rgb(221,65,53);
      -webkit-transition: all 0.15s;
      transition: all 0.15s;
    }
    .popup-menu-panel.in {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    .popup-menu-panel.in .popup-menu-item {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
      -webkit-transition-delay: 0.15s;
      transition-delay: 0.15s;
    }
  }
}

