<ion-header>
    <ion-navbar color="dark"> 
      <button ion-button menuToggle *ngIf="!page">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Raters</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-list class="users">
      <div *ngFor="let rater of mappedRaters">
        <!-- view rated sellers -->
        <ion-item detail-push *ngIf="rater && profile.userType === 'buyer'" (click)="viewSeller(rater)">
          <ion-avatar item-start>
            <img src="{{rater.avatar}}">
          </ion-avatar>
          <h2>{{rater.nickname}}</h2>
          <p>
            <i class="fa fa-calendar"></i>
            {{rater.rater?.date}}
          </p> 
        </ion-item>

         <!-- DO NOT view buyers rated me -->
        <ion-item *ngIf="rater && profile.userType === 'seller'">
          <ion-avatar item-start>
            <img src="{{rater.avatar}}">
          </ion-avatar>
          <h2>{{rater.nickname}}</h2>
          <p>
            <i class="fa fa-calendar"></i>
            {{rater.rater?.date}}
          </p> 
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
  