page-dashboard {
    .nickname {
        margin-bottom: 2px;
    }
    .address {
        margin: 2px;
    }

    i {
        // padding-right: 4px;
        color: $primary;
    }

    .star-icon {
        font-size: 1.2em !important;
    }

    .star-icon::before {
        color: $primary !important;
        font-size: 1em !important;
    } 

    .tags {
        display: block;
        margin: 10px 0
    } 


    .info {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      text-align: center;
      h2, p {
          margin: 0;
          padding: 0
      }
      h2 {
          font-size: 1.4em;
          font-weight: bold;
      }
      p {
          font-size: 0.8em;
          color: $light-grey;
      }
    }

    .card {
        text-align: center;
        height: 90px;
        i {
            color: $primary;
            font-size: 24px;
            padding: 20px;
            float: left;
        }
        h2 {
            font-weight: bold;
            font-size: 18px;
            padding-top: 10px;
        }

        p {
          font-size: 12px;
        }


    }

    #profile-bg {
        position: fixed;
        left: 0;
        //top: 44px;
        width: 100%;
        height: 150px;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 20%;

        text-align: center;
      }

      #content {
        position: relative;
        margin-top: 150px;
        background-color: white;
        box-shadow: 0px -1px 10px rgba(0,0,0,0.4);
        padding-top: 200px;
      }

      #profile-info {
        position: absolute;
        top: -95px;
        width: 100%;
        z-index: 2;
        text-align: center;
      }
      #profile-name {
        color: #444;
        font-size: 26px;
      }
 
      #profile-image {
        display: block;
        border-radius: 100px;
        border: 1px solid #fff;
        width: 128px;
        height: 128px;
        margin: 30px auto 0;
        box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
      }

      .list-item-content {
        padding: 5px;
      }

      .list-item {
        color: #666666;
      }

 
      .post-profile-image {
        display: inline-block;
        vertical-align: top;
        width: 48px;
        height: 48px;
        margin-right: 10px;
      }
}
