page-chat {

    ion-avatar{
        margin: 0 !important; 
    }

    .label {
        margin: 0px 0px 8px 0 !important;
    }
   

    .bubble-time {
        font-size: 0.8em;
        color: $dark-grey;
    }

    .primary {
        margin-left: 24px;
    }

    .secondary {
        margin-right: 24px;
        float: right;
    }


    .item-block:last-child {
        border-bottom: none !important;
    }

    .message-control {
        border-top: 2px solid $dark-grey;
    }

    ion-footer {
        margin-bottom: 4px !important;
        ion-item {
            padding-left: 0 !important;
        }
        .item-inner {
            border: 1px solid $dark-grey !important;
            // border-radius: 10px;
            margin: 0 2px;
        }
        ion-input {
            padding-left: 6px !important;
            font-size: 14px;
            color: $dark-grey !important;
        }
        .button {
            font-weight: bold;
            color: $primary !important;
        }
    }

    
    
 
}
