<ion-menu [content]="content"  persistent="true" >
  <ion-content class="user-profile">
    <div *ngIf="profile" class="profile">
      <img src="{{profile.avatar}}"  alt="profile" class="profile-picture">
      <h2>{{profile.nickname}}</h2>
      <p>{{profile.race}} | {{profile.gender}}</p>
    </div>
    <ion-list *ngIf="profile" class="menu">
      <ion-item menuClose ion-item icon-left (click)="nav.setRoot(pages.usersPage)">
        <!-- <ion-icon class="light" name="home" item-start></ion-icon> -->
        <i class="fa fa-heart" item-start></i>
        Honeys
      </ion-item>
      <ion-item menuClose ion-item icon-left (click)="nav.setRoot(pages.chatsPage)">
        <!-- <ion-icon class="light" name="people" item-start></ion-icon> -->
        <i class="fa fa-comment" item-start></i>
        Chats
      </ion-item> 
      <ion-item menuClose ion-item icon-left (click)="nav.setRoot(pages.profilePage)">
        <!-- <ion-icon class="light" name="person" item-start></ion-icon> -->
        <i class="fa fa-user" item-start></i>
        Profile
      </ion-item>
    </ion-list>
  </ion-content>
  
  <ion-footer>
    <button ion-button block clear menuClose color="light" (click)="logout()" icon-start>
      <!-- <ion-icon class="dark" name="log-out"></ion-icon> -->
      <i class="fa fa-power-off logout" item-start></i>
      &nbsp; Logout
    </button>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>