page-requests {

    ion-content {
        background: linear-gradient(0deg, #eeeef1 0%, white 80%, white 100%);
    }
    ion-avatar {
        border: 2px solid #6b0036;
        border-radius: 100%;
    }
    .users {
        h2 {
            font-size: 1em;
            font-weight: bold;
            margin-bottom: 4px;
            span {
                font-weight: normal;
                font-size: 0.8em;
                float: right;
            }
        }
        p {
            font-size: 0.8em;
        }
        i{
            color: $primary;
            padding-right: 4px;
        }

    }
}
