<ion-header>
  <ion-navbar >
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>
  
  <ion-content>
    <div id="profile-bg" [ngStyle]="{'background-image': 'url(' + img +')'}"></div>
    <div id="content" *ngIf="profile">
    <div id="profile-info">
      <img id="profile-image" src="assets/imgs/users/user3.jpg">
      <h2 class="nickname">{{profile.nickname}} 
        <ion-badge class="age" item-end>{{profile.age}}</ion-badge>
      </h2>
      <p class="address"> <i class="fa fa-map-marker"></i>{{getDistance(profile.location.geo)}} km away</p>
      <!-- <rating [float]="true" [(ngModel)]="profile.rating" [readonly]="true"></rating> -->
      <div class="tags">
        <ion-badge primary>{{profile.gender}}</ion-badge>
        <ion-badge primary>{{profile.race}}</ion-badge>
        <ion-badge primary>{{profile.bodyType}}</ion-badge>
      </div>
    </div>    
 
    <ion-row class="images">
      <ion-col col-4>
          <img src="assets/imgs/users/user1.jpg">
      </ion-col>
      <ion-col col-4>
          <img src="assets/imgs/users/user2.jpg">
      </ion-col>
      <ion-col col-4>
          <img src="assets/imgs/users/user3.jpg">
      </ion-col>
      <ion-col col-4>
          <img src="assets/imgs/users/user4.jpg">
      </ion-col>
      <ion-col col-4>
          <img src="assets/imgs/users/user5.jpg">
      </ion-col>
    </ion-row>    
  </div>
</ion-content>

<ion-footer>
  
  <div class="popup-menu" *ngIf="user">
    <div class="popup-menu-overlay" [ngClass]="{'in': openMenu}" (click)="togglePopupMenu()"></div>
    <div class="popup-menu-toggle" (click)="togglePopupMenu()" [ngClass]="{'out': openMenu}"></div>
    <div class="popup-menu-panel" [ngClass]="{'in': openMenu}">
      <div class="popup-menu-item" (click)="followUser(user)">
        <!-- <ion-icon name="home"></ion-icon> -->
        <!-- <ion-badge>25</ion-badge> -->
        <i class="fa fa-user-plus"></i>
        <span>Follow</span>
      </div>
      <div class="popup-menu-item" (click)="likeUser(user)">
        <!-- <ion-icon name="trophy"></ion-icon> -->
        <i class="fa fa-thumbs-up"></i>
        <span>Like</span>
      </div>
      <div class="popup-menu-item" (click)="chatWithUser(user)">
        <!-- <ion-icon name="podium"></ion-icon> -->
        <!-- <ion-badge>10</ion-badge> -->
        <i class="fa fa-comment"></i>
        <span>Chat</span>
      </div> 
    </div>
  </div>
</ion-footer>