page-signup {
    .brand   {
        width: 120px;
        margin: 8% auto;
    }
    .content {
        background-color: $primary;
        hr{
            background-color: $secondary;
        }
    }
    .validation {
        color: $light-grey;
    }
    [col-6]:first-child {
        padding-left: 0 !important;
        padding-right: 2px !important;
        margin-bottom: 4px;
        margin-top: -4px;
    }
    [col-6]:last-child {
        padding-left: 2px !important;
        padding-right: 0 !important;
        margin-bottom: 4px;
        margin-top: -4px;
    }

    ion-datetime {
        padding: 0 0 8px 0 !important;
    }
    ion-item.item-datetime.item-ios{
        height: 3.9em !important;
        border-radius: 4px !important;
    }
    ion-item.item-datetime.item-md{
        height: 4.2em !important;
        border-radius: 4px !important;
    }
    ion-item.item-input {
        margin: 10px 0;
        height: 4em !important;
    }
    ion-label.label {
        width: 120px;
    }
    .login-type {
        margin-top: 40px;
        p {
            text-align: center;
            color: $white;
        }
    }
    .controls .col {
        text-align: center;
        .button {
            color: white;
        }
    } 
}
