page-users {

    .user {
        min-height: 260px;
        max-height: 260px;
        h2 {
            font-size: 1em;
            font-weight: bold;
            padding-bottom: 5px;
        }
        p {
            font-size: 0.9em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        img {
            max-height: 160px;
            min-height: 160px;
        }
        i {
            color: $primary;
            padding-right: 6px;
        } 
        .age {
            float: right;
        } 
        .row {
            height: 40px;
        }

    }

    .grid {
        padding: 0;
        .col {
            padding: 0;
        }
    }
}
